:root {
  --main-blue: #ff6501;
  --main-blue-light: rgba(0, 67, 138, 0.4);
  --main-blue-lighter: rgba(0, 67, 138, 0.2);
  --main-white: #ffffff;
  --main-dark: #000000;
  --sub-dark: #0f0f0f;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: var(--main-dark);
}

nav {
  position: absolute;
  width: 100vw;
  background-color: black;
}

.logo {
  font-weight: 700;
  color: var(--main-white);
  margin-left: 10%;
}

nav ul li {
  display: inline;
  font-size: 15px;
}
nav ul li a {
  text-decoration: none;
  color: var(--main-white);
}
.nav-left-links {
  margin-left: 3%;
}
.nav-left-links li {
  margin-left: 1%;
}
.nav-left-links a {
  transition: 0.2s all;
}
.nav-left-links a:hover {
  border-bottom: 2px solid var(--main-white);
  padding-bottom: 0.4%;
}
#home-nav-item {
  border-bottom: 2px solid var(--main-white);
  padding-bottom: 0.4%;
}
.contact-nav-link {
  position: absolute;
  right: 10%;
  border: 2px solid var(--main-blue);
  padding: 0.6%;
  width: 90px;
  border-radius: 5px;
}
.contact-nav-link a {
  color: var(--main-dark);
  margin-left: 18%;
  color: white;
}

.blue-box {
  height: 90vh;
  width: 65vw;
  content: "";
  background-color: var(--main-blue);
}

.grid-box {
  display: flex;
  position: absolute;
  transform: translate(20%);
  margin-top: 10%;
  width: 80vw;
}
.grid-item-1 {
  flex: 2;
}
.grid-item-2 {
  flex: 3;
  margin-left: 10%;
}
.grid-item-1-inner-box {
  width: 70%;
  margin-top: 15%;
}
.grid-item-1 h1 {
  font-size: 35px;
  font-weight: bolder;
  color: var(--main-white);
}
.grid-item-1-inner-box p {
  color: rgb(211, 211, 211);
  font-size: 12px;
  line-height: 200%;
  font-weight: lighter;
  margin-top: -8%;
}
.get-started-btn {
  text-transform: uppercase;
  padding: 5%;
  background-color: transparent;
  border: 1px solid var(--main-white);
  font-size: 10px;
  padding-left: 13%;
  padding-right: 13%;
  border-radius: 4px;
  color: var(--main-white);
  margin-top: 7%;
}
.grid-item-2 img {
  width: 80%;
  height: 110%;
  box-shadow: 15px 15px 70px rgba(0, 0, 0, 0.9);
  margin-left: -10%;
  transform: rotate3d(1, 2, 2, -5deg);
}

.rest-of-body {
  color: var(--main-white);
  padding: 10%;
  padding-top: 3%;
}
.services-box {
}
.services-heading {
  text-align: center;
  text-transform: uppercase;
}
.services-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: yellow; */
}
.grid-cards {
  width: 250px;
  margin-left: 5%;
  margin-bottom: 4%;
  background-color: white;
  height: 330px;
  box-shadow: 1px 2px 35px var(--main-blue-light);
  border-radius: 5px;
}
.grid-box-1 {
  background-color: var(--sub-dark);
}
.grid-box-2 {
  background-color: var(--main-blue);
}
.grid-box-3 {
  background-color: var(--sub-dark);
}
.cards-img {
  width: 100px;
  margin-top: 10%;
  border-radius: 45%;
  transform: translateX(70%);
}
.card-heading {
  text-align: center;
}
.card-body {
  text-align: center;
  font-size: 13px;
  margin-top: 0;
  padding: 5%;
  padding-top: 2%;
}
.card-body-text {
  margin-top: -1%;
}
.card-button {
  padding: 4%;
  padding-right: 5%;
  padding-left: 5%;
  margin-top: 8%;
  font-weight: bold;
  border-radius: 10px;
}

.flex-box {
  display: flex;
  width: 90%;
}
.responsive-img {
  width: 100%;
}

.works-heading {
  color: yellow;
  text-transform: uppercase;
  text-align: center;
}
.first-img-flex {
  width: 25%;
}
.second-img-flex {
  width: 35%;
}
.third-img-flex {
  width: 50%;
}
.fourth-img-flex {
  width: 65%;
}
.fifth-img-flex {
  width: 80%;
}
.flex-items {
  margin-left: 5px;
  flex: 1;
  box-shadow: 2px 3px 30px var(--main-blue-lighter);
}
.works-image {
  transition: 0.5s all;
}
.works-image:hover {
  transform: scale(1.1);
  filter: grayscale(100%);
}

@media screen and (max-width: 400px) {
  body {
    background-color: black;
  }
  .contact-nav-link a {
    color: var(--main-white);
  }
  .grid-box {
    margin-top: 12%;
    display: block;
  }
  .grid-item-2 img {
    margin-top: 10%;
    width: 100%;
  }
  .contact-nav-link {
    margin-top: 10px;
  }
  nav {
    height: 23vh;
    background-color: black;
  }
  .services-nav-item {
    background-color: rgb(192, 45, 0);
    padding: 20px;
  }
}
